/* angular-ui-tree css file */
.angular-ui-tree {
    padding-top: 0.8em;
}

.angular-ui-tree-empty {
    min-height: 100px;
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px
}

.angular-ui-tree-nodes {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none
}

.angular-ui-tree-nodes .angular-ui-tree-nodes {
    margin-left: 1.7em;
}

.angular-ui-tree-node, .angular-ui-tree-placeholder {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    line-height: 40px;
}

.angular-ui-tree-wrapper {
    cursor: pointer;
    white-space: nowrap;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    width: 200px;
    line-height: 40px;
    padding-left: 30px;
    padding-right: 90px;
}

.angular-ui-tree-toggle {
    position: absolute;
    left: 0;
    top: 50%;
    width: 28px;
    height: 28px;
    margin-top: -14px;
    line-height: 28px;
    text-align: center;
}

.angular-ui-tree-text {
    margin: 0;
}

.angular-ui-tree-wrapper:hover > .angular-ui-tree-btn-container {
    display: block;
}

.angular-ui-tree-hidden {
    display: none
}

.angular-ui-tree-handle {
    cursor: move;
    text-decoration: none;
    font-weight: bold;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 20px;
    line-height: 20px;
}

.angular-ui-tree-drag {
    position: absolute;
    z-index: 999;
    opacity: .8
}

.angular-ui-tree-btn:hover {
    cursor: pointer;
    background-color: #F9F9F9;
}

.angular-ui-tree-btn {
    position: absolute;
    width: 14px;
    height: 12px;
    top: 50%;
    border-radius: 100%;
    margin-left: -7px;
    margin-top: -6px;
}

.angular-ui-tree-btn-open {
    left: 10px;
}

.angular-ui-tree-btn-remove {
    right: 10px;
}

.angular-ui-tree-btn-add {
    right: 30px;
}

.angular-ui-tree-btn-container {
    position: absolute;
    right: .6em;
    top: 0;
    display: none;
}

.angular-ui-tree-btn-container > * {
    margin-right: 3px;
}
